results/
./external/
singularity/
wandb/
*/wandb/*
.idea*
.idea/
.idea_backup/
*.pyc
#data/
*.wandb_auth
assets/
*.png 
*.jpg
*.jpeg
*.bmp 
*.gif
*.mp4
*.avi
*.mp3
*.wav
*.zip
*.tar
*.gz
*.rar
*.7z
*.bz2
*.xz
*.tgz
*.tar.gz
*.tar.bz2
*.pkl
*.obj 
*.mtl 
*.stl
*.ply 
*.egg-info

# cluster submission (user-specific settings)
*submission_settings.yaml
